body {
    background-color: #F2E0D0; 
    font-family: 'Courier New', Courier, monospace; 
    color: #4B2E39;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


header {
    padding: 20px;
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 64px;
    color: #4B2E39; 
}


main {
    padding: 20px;
    width: 100%;
}

#items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    margin-bottom: 15px;
    max-height: calc(5 * 60px); 
    overflow-y: auto; 
    padding: 20px;
    scroll-behavior: smooth; 
}


.item{
    margin-bottom: 10px;
}

.item-description {
    width: 200px;
    padding: 10px;
    border: 2px solid #4B2E39; 
    border-radius: 5px;
    background-color: #F4DBD3;
    color: #4B2E39; 
}

.item-completed {
    margin-right: 10px;   
}


button {
    background-color: #4B2E39; 
    color: #F4DBD3; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.item-completed:checked + .item-description{
    text-decoration: line-through;
    background-color: #FFF7F3;
}

button:hover {
    background-color: #D2979B; 
}


input[type="text"]:focus {
    outline: none;
    border-color: #D2979B; 
}

input[type="checkbox"] {
    accent-color: #D2979B; 
    cursor: pointer;
    transform: scale(2);
}


.delete-btn {
    background-color: #E84855; 
    color: #FFF7F3; 
    border: 2px solid #4B2E39; 
    padding: 10px 25px; 
    border-radius: 50px; 
    font-size: 16px; 
    text-transform: uppercase; 
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 2px 2px 0px #D2979B, 4px 4px 0px #4B2E39; 
    transition: all 0.3s ease-in-out; 
}

.delete-btn:active {
    transform: translateY(4px); 
    box-shadow: 2px 2px 0px #4B2E39, 4px 4px 0px #D2979B; 
}
